*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    size: 18px;
}

ul{
    list-style: none;
}

ul.header-links{
    display: flex;
    gap: 16px;  
}

h1{
    font-size: 48px;
    color: #f9faf8;

}



.c1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 300px;
    background-color: #1F2937;
    
}

.header-logo{
    color: #f9faf8;
    font-weight: 600;
    font-size: 36px;
}

.c2{
    display: flex;
    padding: 30px 300px;

    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;

}

.name-sub-text{

    font-size: 18px;
    color: #E5E7EB;

}

div.header-text{
    display: flex;
    flex-direction: column;
    width: 350px; 
    min-height: 200px;
    gap: 8px;


}

button{
    background-color: #3882F6;
    color: #f9faf8;
    width: 100px;
    font-weight: 600;
    height: 25px;
}

.c3{
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.c3-header{
    font-size: 26px;
    font-weight: 800;
    color: #1F2937;

}

.icon{
    border: solid 2px #3882F6;
    height: 100px;
    width: 135px;
}
.c3-icons ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 15px;
}

.c3-subtext ul{
    display: flex;
    justify-content: center;
    gap: 16px;
}

li.subtext{
    width: 135px;
    margin-top: 5px;
}

.c4{
    background-color: #E5E7EB;
    display: flex;
    padding: 20px;
    text-align: left;
}

.quote{
    font-size: 26px;
    color: #1F2937;
    max-width: 650px;
    align-self: center;
    margin-left: 440px;
}
p.speaker{
    align-self: flex-end;
    font-weight: 800;
    color: #1F2937;
}

.c5{
    background-color: #3882F6;
    align-self: center;
    width: 1000px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 200px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;

}

.c5-text{
    color: #f9faf8;
    font-weight: 800;
    font-size: 16px;
}
.signup-text{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #f9faf8;
}
